[submodule ".standard-firmware"]
	path = .standard-firmware
	url = https://github.com/flipperdevices/flipperzero-firmware.git
	branch = release
[submodule ".unleashed-firmware"]
	path = .unleashed-firmware
	url = https://github.com/DarkFlippers/unleashed-firmware.git
	branch = release
